.game-control {
  margin: 0 auto;
  font-family: 'Luckiest Guy', cursive;
}

.score-board {
  font-family: 'Luckiest Guy', cursive;
}

.records {
  font-family: 'Luckiest Guy', cursive;
}

#loacal-record-table {
  font-size: 20px;
}

#start {
  font-size: 20px;
  margin: 10px;
}

#reset {
  font-size: 20px;
  margin: 10px;
}

#pannel {
  margin-left: 10px;
  margin-bottom: 10px;
}

.game-setting {
  margin-left: 10px;
  font-family: 'Luckiest Guy', cursive;
}

.game-table {
  border-collapse: collapse;
  border: 2px solid black;
}
.game-cell {
  /* border: 1px solid #808080; */
  /* border-radius: 50%; */
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

/* #pannel table .snake {
  background-color: green;
}
#pannel table .food {
  background-color: blue;
} */
